* {
	margin: 0;
	padding: 0;
}

body {
background: #FEAD1D url(images/bg.jpg) repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 17px;
color: #222;
}

a {
text-decoration: none;
color: #FD9A01;
}
a:hover {
text-decoration: underline;
color: #111;
}

#wrap {
margin: 0 auto;
width: 800px;
}

/* header */
#header {
height: 190px;
background: #FEAD1D url(images/header.jpg) no-repeat;
text-align: right;
}
#header h1 { 
	font-size: 32px;
	letter-spacing: -1px;
	padding: 100px 100px 0 0;
	color: #fff;
	text-shadow: 4px 4px 4px #444444;
}
#header h1 a { 
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: -2px;
}
#header h1 a:hover {
	color: #111;
}
#header h2 {
	font-size: 24px;
	color: #fff;
	padding: 16px 100px 0 0;
	letter-spacing: -1px;
	font-weight: 700;
	text-shadow: 4px 4px 4px #444444;
}


/* content */
#content {
	background: #FEAD1D url(images/content.jpg) repeat-y;
	padding: 0 20px;
}

.right {
	float: right;
	width: 500px;
	text-align: justify;
	margin-right: 10px;
}
.right h1 {
	font-size: 24px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	color: #FD9A01;
	padding-top: 12px;
	padding-bottom: 8px;
}
.right h1 a {
	text-decoration: none;
}

.right h2 {
	font-size: 20px;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 8px;
}

.right h3 {
	font-size: 16px;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.right p {
	padding-bottom: 4px;
}

.right ul {
	margin-left: 10px;
}

.right h1 a:hover {
}

div .listing {
	padding-top: 4px;
	padding-bottom: 8px;
	margin-left: 16px;
	padding-left: 4px;
	border-left: 4px solid #F6B26B;
	margin-bottom: 4px;
} 

/* TOC */
.left {
	float: left;
	width: 200px;
	/*border-right: thick double #000;*/
}
.left h1 {
	margin: 10px 0 0 0;
	padding-left: 10px;
	height: 26px;
	line-height: 26px;
}

.left h1 a {
	color: #000;
	font-size: 18px;
}

.left ul {
	padding: 10px 0 15px 10px;
	color: #FD9A01;
	list-style-type: none;
}

/*.left ul a {
	font-size: 16px;
}*/

.left ul ul {
	padding: 5px 0 5px 10px;
}

.left ul li a {
	text-decoration: none;
	font-weight: 600;
}

.left ul ul li a {
	text-decoration: none;
	font-weight: 400;
}

.left ul li a:hover {
}


/* not used */
.menu {
	float: right;
	width: 50px;
}
.menu h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
color: #000;
font-size: 13px;
}
.menu ul {
padding: 10px 0 15px 20px;
color: #FD9A01;
list-style-type: none;
}
.menu ul li a {
text-decoration: none;
font-weight: 600;
}
.menu ul li a:hover {

}
.articles { padding: 10px; }


/* footer */
#bottom {
background : #FEAD1D url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#footer {
text-align: center;
font-size: 11px;
color: #fff;
padding-bottom: 10px;
}
#footer a { color: #fff; }
#footer a:hover { color: #111; }



